html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  text-align: center;
}

.stats {
  display: flex;
}
.stats-item {
  margin-right: 10px;
}
.photo-card {
  border: solid 1px rebeccapurple;
  width: 300px;
  height: 300px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
li {
  margin-right: 2px;
}
.is-hidden {
  display: none;
}
